body {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	margin: 0;
	font-family: 'Arial', sans-serif;
}

.game-container {
	text-align: center;
}

.grid {
	width: 300px;
	height: 300px;
	border: solid #444 5px;
	display: flex;
	flex-wrap: wrap;
}

.grid div {
	width: 20px;
	height: 20px;
	box-sizing: border-box;
}

.invader {
	background-color: purple; /* Light Blue */
	border-radius: 10px;
}

.shooter {
	background-color: cyan; /* Green */
	border-radius: 5px;
}

.laser {
	width: 1px; /* Adjust the width to make it thinner */
	height: 10px; /* Adjust the height as needed */
	background-color: #e74c3c; /* Red */
	border-radius: 100%;
}

.boom {
	background-color: #f39c12; /* Orange */
	animation: explode 0.3s ease;
	border-radius: 10px;
}

@keyframes explode {
	0% { transform: scale(1); opacity: 1; }
	100% { transform: scale(1.5); opacity: 0; }
}

.results {
	margin-top: 20px;
	color: #e74c3c;
}

.score {
	color: #e74c3c; /* Red */
	font-weight: bold;
}









