body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    background-image: url('https://png.pngtree.com/back_origin_pic/04/48/50/84cd2a9fbc6cbd5522b2f048a56703a8.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}

fieldset {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.7);
}

legend {
    font-style: italic;
    color: red;
    font-weight: bold;
}

table {
    width: 100%;
}

th {
    padding: 10px 0;
    vertical-align: top;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
textarea,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    margin-right: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 5px;
    vertical-align: middle;
}

input[type="submit"],
input[type="reset"] {
    padding: 10px 20px;
    background-color: #4CAF50;
    border: none;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 10px;
    margin-left: 10px;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
    background-color: #45a049;
}
