/* Basic reset and styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    width: auto;
    height: 40px;;
  }
  main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .box {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #ccc;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1);
  }
  
  
  .image img {
    margin-left: 10px;
    width: 480px;
    height: 270px;
  }
  .dark-theme body {
    background-color: #333;
    color: yellow;
    font-weight: bolder;
  }