/* Basic reset and styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    width: auto;
    height: 40px;;
  }
  main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .about-section {
    color: #bb00ff;
    margin-bottom: 30px;
  }
  
  /* Box layout styles */
  .box {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #ccc;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.3);
  }
  
  .text {
    flex: 1;
    padding-left: 20px; /* Adjusting padding here */
    color: #bb00ff;
  }
  
  .image img {
    margin-left: 10px;
    max-width: 100%;
    height: auto;
  }