body {
  margin: 0;
  font-family: Arial, sans-serif;
  padding: 0;
  min-height: 100vh;
  display: flex;
  top: 10px;
}

.container {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 600px;
  margin: 20px;
  box-shadow: 1px 2px #888888;
}

h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.universities {
  list-style: none;
  padding: 0;
}

.departments {
  list-style: none;
  padding-left: 20px;
  color: #333;
}

.courses {
  list-style: none;
  padding-left: 20px;
  color: #666;
}

a {
  text-decoration: none;
  color: #0066ff;
}

a:hover {
  text-decoration: underline;
}
